fastapi==0.121.2
langchain==1.0.7
langgraph==1.0.3
langchain-openai==1.0.3
langchain-qwen3==0.1.2
faiss-cpu==1.13.0
loguru==0.7.3
python-dotenv==1.2.1
pydantic==2.12.4
langchain-text-splitters==1.0.0
langchain-community==0.4.1
docx2txt==0.9
langsmith==0.4.46